html, body {
    color:white;
    background-color: #607D8B !important;
    text-align: center;
}

.cover-header {
    background-color: white;
    text-align: center;
    color: black;
    padding-bottom:20px;
}

.navbar {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    margin-bottom: 0;

}

img .cover-header {
    height: auto;
    width: auto;
    max-width: 100%;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}


