html, body {
    color:white;
    background-color: #607D8B !important;
    text-align: center;
}

.cover-header {
    background-color: white;
    text-align: center;
    color: black;
}

.navbar {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    margin-bottom: 0;

}

img .cover-header {
    height: auto;
    width: auto;
}


