<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>


    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">HOME</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Testimony</a></li>
            <li><a href="#">Donate</a></li>
            <li><a href="#">Posts</a></li>

          </ul>
        </div>
      </div>
    </nav>

    <div class="cover-header">
      <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        <img src="/public/res/africa.jpg">
      </div>
    </div>

    <div class="container content">
      {{ content }}
    </div>

    <!--<label for="sidebar-checkbox" class="sidebar-toggle"></label>-->

  </body>
</html>
